# ===== CORE =====
POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=changeme

# n8n
N8N_ENCRYPTION_KEY=please_change_me_32chars_min
N8N_HOST=localhost
N8N_PROTOCOL=http
WEBHOOK_URL=http://localhost:5678/
N8N_EDITOR_BASE_URL=http://localhost:5678/
TZ=America/Mexico_City

# Permisos (tu usuario en Linux)
PUID=1000
PGID=1000
