TZ=America/Mexico_City

# URL pública donde entrarás a n8n (por Caddy)
# En LAN puedes poner: http://192.168.X.X
PUBLIC_URL=http://localhost

# n8n
N8N_PORT=5678
N8N_ENCRYPTION_KEY=change-me-please-32chars-minimum

# Postgres
POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=change-me
